[Unit]
Description=Generate custom SRE metrics for node_exporter
After=docker.service
Wants=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sre-state-exporter.sh
